@model PublishingHouse.Models.Book

@{
    ViewBag.Title = "Просмотр книги";
}

<h2>Информация о книге</h2>

@* ЧАСТЬ I: вариант Б - LabelForModel и DisplayForModel *@
@Html.LabelForModel("Данные книги")
@Html.DisplayForModel()

<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>